# Параметры приложения
PORT=3000

# Параметры базы данных (PostgreSQL)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=12345
POSTGRES_DB=dzencode

# Параметры базы данных (Redis)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_BULL=1
REDIS_DB_CACHE=2

# JWT
JWT_SECRET=secret_key_abracadabra
JWT_EXPIRES_IN=365d